* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: fit-content;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.wrapperLog {
  width: 100vw;
  height: fit-content;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.sound-wrapper {
  width: 90%;
  height: 75px;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  font-size: 20px;
  border: 1px solid wheat;
  border-radius: 10px;
  margin: 10px;
  flex-direction: row;
}

img {
  width: 2.5vh;
}

.load {
  background: gray;
  border-radius: 10px;
  padding: 5px;
}

.settings {
  width: 100vw;
  height: 10vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.settings > button {
  width: 50vw;
  height: 40px;
  border-radius: 15px;
  border: 1px solid wheat;
  font-family: sans-serif;
  font-size: 18px;
}

.log {
  width: 100vw;
  height: 10vh;
  background: #475365;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  gap: 10px;
  font-size: 24px;
  font-family: sans-serif;
  color: wheat;
}

.log > div {
  padding: 5px;
}

.hidden {
  display: none;
}

.wrapperLog > div {
  padding: 10px;
}

.tags-input { 
  display: flex; 
  flex-wrap: wrap; 
  padding: 0; 
  margin: 0; 
  width: 70%; 
} 

.tags-input input { 
  flex: 1; 
  border: none; 
  height: 32px; 
  border: 2px solid crimson; 
  border-radius: 10px; 
} 

.tags-input input:focus { 
  border: none; 
} 

.tags-input ul { 
  display: flex; 
  flex-wrap: wrap; 
  list-style: none; 
  padding: 0; 
  margin: 8px 0 0 0; 
} 

.tags-input ul li { 
  margin-right: 8px; 
  margin-bottom: 8px; 
  padding: 8px; 
  background-color: #ddd; 
  border-radius: 4px; 
} 