* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: fit-content;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.load {
  background: gray;
  border-radius: 10px;
  padding: 5px;
}

.settings {
  width: 100vw;
  height: 10vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.settings > button {
  width: 50vw;
  height: 40px;
  border-radius: 15px;
  border: 1px solid wheat;
  font-family: sans-serif;
  font-size: 18px;
}

.hidden {
  display: none;
}

.wrapperLog > div {
  padding: 10px;
}

.tags-input {
  width: 100vw; 
  display: flex; 
  flex-wrap: wrap; 
  padding: 0; 
  margin: 0; 
  width: 70%; 
  border-radius: 10px; 
} 

.tags-input input { 
  flex: 1; 
  border: none; 
  height: 32px; 
  border-radius: 10px; 
} 

.tags-input ul { 
  display: flex; 
  flex-wrap: wrap; 
  list-style: none; 
  padding: 0; 
  margin: 8px 0 0 0; 
} 

.tags-input ul li { 
  margin-right: 8px; 
  margin-bottom: 8px; 
  padding: 8px; 
  background-color: #ddd; 
  border-radius: 4px; 
} 